* {
    box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Didact Gothic', sans-serif;
  color: #434343;
}

.boldText {
    font-weight: bold;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

/**********Header Elements Styling**********/

header {
    min-height: 200px;
    width: 100%;
}

.biopic {
    width: 25%;
}

.biopic img {
    width: 100%;
    min-height: 200px;
}

.name-role {
    width: 75%;
    min-height: 200px;
    -webkit-print-color-adjust: exact;
    background-color: #6d6d6d;
    text-align: center;
    color: #ffffff;
    display: table;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.name-role hr {
    width: 40%;
}

.name,
.role {
    color: #ffffff;
}

/**********Aside Elements Styling**********/

aside {
    width: 25%;
}

img {
    width: 100%;
    max-height: 200px;
}

.aside-data {
    width: 80%;
    margin: 0 auto;
}

.personal,
.contact,
.links {
    padding-top: 10px;
}

table {
    width: 100%;
    /*border-collapse: collapse;*/
    margin-top: 10px;
}

th {
    text-align: left;
    width: 120px;
}

td {
}

tr {
    /*border-bottom: 1pt solid #434343;*/
}

/*****************************************/

/**********Main Elements Styling**********/

main {
    width: 75%;
}

.main-data {
    width: 80%;
    margin: 0 auto;
}
